@import "tailwindcss";

@utility text-trim {
    text-box: trim-both cap alphabetic;
}

@theme{
    --font-stackn: "Stack Sans Notch", sans-serif;
    --font-stackt: "Stack Sans Text", sans-serif;
    --color-amdb: #000640;
}

body{
    @apply font-stackt text-white bg-amdb
}
#root{
    @apply overflow-x-hidden scroll-smooth
}
body::-webkit-scrollbar{
    display: none;
}

.line{
    @apply block h-px bg-white
}
.line-vert{
    @apply block w-px h-full bg-white
}
.line-vert-cust{
    @apply block w-px bg-white
}